<!DOCTYPE html>
<html>
<head>
    <title>jamey's site</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/stlish-portfolio.css">
    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

    <div class="row">
    <div class="col-sm-4 text-center">.col-sm-4</div>
    <div class="col-sm-4 text-center">.col-sm-4</div>
    <div class="col-sm-4 text-center">.col-sm-4</div>
    </div>

</body>
</html>