.meImg {
    /*width: 100px;*/
    height: 100px;
    border-radius: 100%;
}

.meImg2 {
    /*width: 100px;*/
    height: 100px;
    border-radius: 10%;
}

.bioImg {
    /*width: 100px;*/
    height: 200px;
    border-radius: 0%;
    padding: 0px;
}

.resume{
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: left;    
    word-wrap: break-all;
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
} 

.resumeSectionHeader{
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    text-align: center;
}

.resumeHeader{
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    text-align: center;
}

.resumeSubHeader{
     /*padding-left: 50px;
     padding-right: 50px;    */
     padding-top: 10px;
     font-size: 16px;
}

.saveImg{
    height:25px;
    
}

.header{
    -webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
    -webkit-filter: brightness(100%); 
    color:white;
}

.nogrey{
    -webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
    -webkit-filter: brightness(100%); 
    color:white;
}

.whiteanchor{
    color:white;
    text-decoration-line: underline;
    font-weight: bold;
}

.movedown{
    padding-top: 25%;
}

.cropdiv
{
    width: 230px;
    height: 200px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.cropimg {
    position: absolute;
    margin: auto; 
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}